<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ConnectionManagerDatabaseServers" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="mode" value="1debug" />
  </appSettings>
  <ConnectionManagerDatabaseServers>
    <add key="localhost" value="localhost" />
    <add key="SteinsvikConnStr" value="Data Source=POUYA-PC;Initial Catalog=Steinsvik;Persist Security Info=True;User ID=sa;Password=P@ssw0rd" />
  </ConnectionManagerDatabaseServers>
</configuration>